html {
  font-size:clamp(1em, 3vmin, 1.25em)
}

body {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

header > .has-purple-20-white-background-color {
  background:linear-gradient(90deg,#FFFFFF 50%,#71458C 50%) !important;
}

header > .wp-block-group {
  padding-top: 0;
  padding-bottom: 0;
}

header > .wp-block-group > div{
  padding-top: 0px;
  padding-bottom: 0px;
}

header .wp-block-navigation {
  flex-grow: 1;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 58px;
  background-color: #71458C;
  background-image: url(assets/images/coderdojo-nav-light-bg.svg);
  background-repeat: no-repeat;
  width: 58px;
}

#hero {
  background-image: url(assets/images/stars-and-lightning.svg),url(assets/images/stars-and-lightning-reversed.svg);
  background-position: left center,right center;
  background-repeat: no-repeat,no-repeat;
  padding-block: 1.875rem;
}

.wp-block-media-text.alignwide.is-stacked-on-mobile > .wp-block-media-text__media >  img {
  border-radius: 10px;
}

@media (max-width: 782px) {
  .wp-block-media-text.alignwide.is-stacked-on-mobile > .wp-block-media-text__media {
    
    padding-left: min( 5vw, 3.75rem);
    padding-right: min( 5vw, 3.75rem);
  }
}

@media (min-width: 782px) {
  .wp-block-media-text.alignwide.has-media-on-the-right.is-stacked-on-mobile > .wp-block-media-text__content {
    padding-left: 0;
    padding-right: calc(8rem * 0.625);
  }

  .wp-block-media-text.alignwide.is-stacked-on-mobile > .wp-block-media-text__content {
    padding-left: calc(8rem * 0.625);
    padding-right: 0;
  }
}

.wp-block-cards {
  gap: 2em;
}

.wp-block-cards > .wp-block-column,
.wp-block-cards > .wp-block-post,
.wp-block-card {
  border-radius: 10px;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.15);
}

.wp-block-cards > .wp-block-post > figure {
  padding: 0;
}

.wp-block-cards > .wp-block-column > figure > img,
.wp-block-cards > .wp-block-post > figure img {
  border-radius: 10px 10px 0 0;
}

.wp-block-cards > .wp-block-column > :not(figure),
.wp-block-cards > .wp-block-post > :not(figure) {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 782px) {
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 1;
  }
  
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 2;
  }
}